body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.primary-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

input[type="number"] {
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.color-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.color {
    width: 45%; 
    max-width: 200px; 
    height: 250px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
}

.copy-color {
    display: block;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s ease;
}

.copy-color:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 600px) {
    .color {
        width: 100%; /* Full width on small screens */
    }
    .primary-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
